@page "/event-cancellation"
@model Reserve.Pages.Event.CancelNotificationModel
@using Microsoft.Extensions.Localization
@using Reserve.Core.Features.Event
@using Reserve.Core
@inject IStringLocalizer<EventLocalization> eL
@inject IStringLocalizer<Global> gL
<h1 class="notification-title mb-lg-5">@eL["msg:cancellation-successful"]</h1>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="notification-border mb-lg-5">
        <div>
            <p class="notification-text d-flex justify-content-center mb-1">@eL["msg:reservation-cancelled-successfully"]</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a asp-page="../LandingPage" class="btn btn-custom reserve-blue-button">@gL["home-page"]</a>
    </div>
</div>