@page "/find-event"
@using Reserve.Helpers;
@model Reserve.Pages.Event.FindEventModel
@using Microsoft.Extensions.Localization
@using Reserve.Core.Features.Event
@using Reserve.Core
@inject IStringLocalizer<EventLocalization> eL
@inject IStringLocalizer<Global> gL
<div class="container d-flex justify-content-evenly mb-5 w-100 mt-5 find-event-top">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="event-title">@eL["find-event-title"]</h1>
        <h2 class="find-event-text">
            @eL["find-event-description"]
        </h2>
    </div>
    <img class="find-event-image" src="\images\FindEvent.jpg" />
</div>

<div class="container">
    <h1 class="event-title">@eL["explore-events-title"]</h1>
    <div class="d-flex justify-content-center flex-wrap">
        @foreach (var casualEvent in Model.CasualEvents!)
        {
            <div class="card card-find-event m-3" style="width: 18rem;">
                <img style="height:190px!important;" src="@casualEvent!.ImageUrl" class="card-img-top" alt="eventImage">
                <div class="card-body">
                    <a href="/event-details/@GuidShortener.ShortenGuid(casualEvent!.Id)" class="card-title">@casualEvent!.Title</a>
                    <p class="card-text card-find-event-date">
                        @casualEvent!.StartDate?.ToLongDateString() @casualEvent!.StartDate?.ToShortTimeString()
                    </p>
                    <p class="card-find-event-location">@gL["location"]</p>
                </div>
            </div>
        }
    </div>
</div>