.main-content {
    text-align: center;
    padding: 100px;
}

.highlight {
    color: #06adef;
}

.btn-custom {
    background-color: #06adef;
    color: white;
    border-radius: 30px;
}

.reserve-blue-button {
    color: #ffffff !important;
    background-color: #06adef;
    font-size: 0.9rem;
    border-radius: 40px;
    font-family: 'Source Sans 3', sans-serif;
}

    .reserve-blue-button:hover {
        background-color: #20a3d7;
    }

.reserve-red-button {
    color: #ffffff !important;
    background-color: #ff3259;
    font-size: 0.9rem;
    border-radius: 40px;
    font-family: 'Source Sans 3', sans-serif;
}

    .reserve-red-button:hover {
        background-color: #fa1414;
    }

.body-font {
    font-family: 'Mulish', sans-serif;
}

@media (max-width: 1000px) {
    .main-content {
        padding: 50px;
    }

    .btn-custom {
        display: block;
        margin: 10px auto;
    }
}