@page "/appointment-error"
@model Reserve.Pages.Appointment.AppointmentErrorModel
@using Microsoft.Extensions.Localization
@using Reserve.Core
@inject IStringLocalizer<Global> L
<div class="alert alert-danger" role="alert">
    @L["error-message"]
</div>

