@page "/reserve-appointment/{id}"
@model Reserve.Pages.Appointment.ReserveAppointmentModel
@using Microsoft.Extensions.Localization
@using Reserve.Core.Features.Appointment
@using Reserve.Core
@inject IStringLocalizer<AppointmentLocalization> aL
@inject IStringLocalizer<Global> gL

<style>
    a {
        color: #000000;
        text-decoration: none;
    }

    .fc .fc-button-primary {
        color: #FFFFFF;
        background-color: #06adef !important;
        border-color: #FFFFFF !important;
    }

        .fc .fc-button-primary:hover {
            color: #FFFFFF;
            background-color: #20a3d7 !important;
            border-color: #FFFFFF !important;
        }
</style>

<script src='https://fastly.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

<h1 class="notification-title mb-lg-5">@aL["schedule-appointment"] @Model.AppointmentCalendar?.Name</h1>

<div id="calendar" free-slot="@aL["free-slot"]"></div>

<script>
    document.addEventListener("DOMContentLoaded", async function () {
        var calendarEl = document.getElementById('calendar');
        let appointmentsArg = [];
        var freeSlots = await fetch("/free-slots/@Model.Id");
        if (freeSlots.status === 200) {
            var data = await freeSlots.json();
            data.forEach(slot => {
                appointmentsArg.push({
                    id: slot.id,
                    title: calendarEl.getAttribute('free-slot'),
                    start: slot.startTime,
                    end: slot.endTime,
                    backgroundColor: "#06adef",
                    textColor: "#ffffff",
                    borderColor: "#06adef",
                    url: "/appointee-details/" + slot.id
                });
            });
        } else {
            console.error(`API request failed with status code: ${freeSlots.status}`);
        }
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: appointmentsArg
        });
        calendar.render();
    });
</script>
